<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>simple_auth_code_flow_java</display-name>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
    <context-param>
 		<param-name>okta_org</param-name>
 		<param-value>https://_OKTA_ORG_NAME_.okta.com</param-value>
 	</context-param>
  <context-param>
 		<param-name>client_id</param-name>
 		<param-value>_OKTA_CLIENT_ID_</param-value>
 	</context-param>
 	<context-param>
 		<param-name>client_secret</param-name>
 		<param-value>_OKTA_CLIENT_SECRET_</param-value>
 	</context-param>
 	<context-param>
 		<param-name>jwt_issuer</param-name>
 		<param-value>_OKTA_ISSUER_FROM_APIAM_AS_</param-value>
 	</context-param>
 	<context-param>
 		<param-name>jwt_audience</param-name>
 		<param-value>_OKTA_AUDIENCE_FROM_APIAM_AS_</param-value>
 	</context-param>
 	<context-param>
 		<param-name>redirect_uri</param-name>
 		<param-value>http://localhost:8080/simple_auth_code_flow_java/oidc-callback</param-value>
 	</context-param>
	<servlet>
		<servlet-name>Login</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
</web-app>