<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>simple_auth_code_flow_java</display-name>
  <welcome-file-list>
  	<welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>OIDCCallback</servlet-name>
 	<servlet-class>OIDCCallback</servlet-class>
 	 <init-param>
 		<param-name>client_id</param-name>
 		<param-value>OKTA_CLIENT_ID</param-value>
 	</init-param>
 	<init-param>
 		<param-name>client_secret</param-name>
 		<param-value>OKTA_CLIENT_SECRET</param-value>
 	</init-param>
 	<init-param>
 		<param-name>token_endpoint</param-name>
 		<param-value>OKTA_API_AM_TOKEN_ENDPOINT</param-value>
 	</init-param>
 	<init-param>
 		<param-name>jwt_issuer</param-name>
 		<param-value>OKTA_API_AM_ISSUER</param-value>
 	</init-param>
 	<init-param>
 		<param-name>jwt_audience</param-name>
 		<param-value>OKTA_API_AM_AUD</param-value>
 	</init-param>
  </servlet>
  

</web-app>